{% extends 'application.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
    <div class="fullscreen__container" style="flex: 1; display: flex; justify-content: center; align-items: center">
        <div class="container">
            <div class="jumbotron">
                <div class="jumbotron">
                    <h1 class="display-4">Удаление изображений</h1>
                    <hr class="my-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Введите образы для поиска"
                               aria-label="Введите образы для поиска" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Поиск
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}