{% extends 'application.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
    <div class="fullscreen__container" style="flex: 1; display: flex; justify-content: center; align-items: center">
        <div class="container">
            <div class="jumbotron">
                <div class="jumbotron">
                    <h1 class="display-4">Поиск изображений</h1>
                    <p class="lead">Выпускная квалификационная работа магистра</p>
                    <hr class="my-4">
                    {% if user.is_authenticated %}
                        <form action="{% url 'search:search' %}">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Введите текст для поиска"
                                       name="query" aria-label="Введите текст для поиска"
                                       aria-describedby="button-addon2"
                                       id="query">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Поиск
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <p class="lead">Для проверки работы приложения необходимо войти в систему.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}